<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link type= "text/css" rel="stylesheet" href="css/styles.css">
    <title>Poker Games</title>
  </head>
  <body>
    <h1 id="mainHeader">Poker Games</h1>

    <a id="newGameLink" href="/games/new">Add a New Game</a>
    <div class="gamesListDiv">
      {{#games}}
      <li class="gamesList"><a href="/games/{{_id}}">{{game}}</a></li>
      {{/games}}
    </div>
  </body>
</html>
