#mainHeader {
  font-size: 44px;
  text-align: center;
  color: blue;
}

#newGameLink {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.gamesList {
  display: flex;
  justify-content: center;
  align-items: center;
}

#detailHeader {
  font-size: 40px;
  text-align: center;
}

#editLink {
  margin-right: 10px;
}

#deleteLink {
  margin-left: 10px;
}

.editFunctions {
  display: flex;
  justify-content: center;
}

.gameInfo {
  margin-top: 30px;
}

.locationInfo {
  display: flex;
  justify-content: center;
}

.numberOfCards {
  display: flex;
  justify-content: center;
}

#newHeader {
  text-align: center;
  font-size: 40px;
}

.formDiv {
  display: flex;
  justify-content: center;
}

#newButton {
  margin-top: 10px;
}

#editHeader {
  text-align: center;
  font-size: 40px;
}

#editButton {
  margin-top: 10px;
}
